party #<%= @party.id %>
<br>
table <%= @party.name %>

<ul>
  <% @party.seats.each do |seat| %>
    <li>
      <%= link_to "Seat " + seat.name, new_seat_order_path(seat) %>
    </li>
  <% end %>
</ul>
