<%= render 'layouts/header' %>

<div class="ingredients">
  <div>here's what's in the kitchen</div>
  <table>
    <tr>
      <th>ingredient</th>
      <th>
        <% if current_user.account == "admin" %>
        remove
        <% end %>
      </th>
    </tr>
    <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= link_to ingredient.name, ingredient_path(ingredient) %></td>
      <td>
        <% if current_user.account == "admin" %>
        <%= link_to "x", ingredient_path(ingredient), :class => "remove", method: :delete %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
      <% if current_user.account == "admin" %>
      <div>
      <%= button_to "add ingredient", new_ingredient_path, :class => "full-width-button", method: :get %>
      <% end %>
    </div>
  </ul>
</div>
