<%= render 'layouts/header' %>

<h1>
ingredients, yum.
</h1>



<h4>all the ingredients:</h4>
<ul>
  <% @ingredients.each do |ingredient| %>
  <li>
    <%= link_to ingredient.name, ingredient_path(ingredient) %>
    <% if current_user.account == "admin" %>
      <%= button_to "x", ingredient_path(ingredient), method: :delete %>
    <% end %>
  </li>
  <% end %>
    <% if current_user.account == "admin" %>
    <li>
    <%= link_to "add ingredient", new_ingredient_path %>
    <% end %>
  </li>
</ul>
