<%= render 'layouts/header' %>

<div class="subheader">ingredients, yum.</div>

<ul>
  <% @ingredients.each do |ingredient| %>
  <li>
    <%= link_to ingredient.name, ingredient_path(ingredient) %>
    <% if current_user.account == "admin" %>
      <%= link_to "x", ingredient_path(ingredient), method: :delete %>
    <% end %>
  </li>
  <% end %>
    <% if current_user.account == "admin" %>
    <li>
    <%= button_to "add ingredient", new_ingredient_path, method: :get %>
    <% end %>
  </li>
</ul>
