<%= render 'layouts/header' %>

<div> here are all of the orders</div>

</div>
<div>

  <% @orders.each do |order| %>

    <li>
      <%= order.dish.name %>
      for
      <%= order.seat %>
    </li>

  <% end %>

</div>
