<%= render 'layouts/header' %>

<h1>
menu.
</h1>


<ul class="dishes">
  <% @dishes.all.each do |dish| %>
  <li>
    <%= link_to dish.name, dish_path(dish) %>
    <% if current_user.account == "admin" %>
      <%= button_to "x", dish_path(dish), method: :delete %>
    <% end %>

  <% end %>

  <% if current_user.account == "admin" %>
    <%= link_to "add dish", new_dish_path %>
  <% end %>
</ul>
