/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require normalize
 *= require font-awesome
 *= require_self
 */

@import "bourbon";
@import "base/base";
@import "neat";
@import "welcome";
@import "dishes";
@import "menu";
@import "ingredients";
@import "users";
@import "parties";
@import "font-awesome";

$header-font: 'Ubuntu', sans-serif;
$main-font: 'Didact Gothic', sans-serif;

$default-color: #477dca;

body{
  font-family: $main-font;
  @include outer-container;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  text-align: center;
  margin: 0;
}

h1{font-size: 7em;}
h2{font-size: 6em;}
h3{font-size: 5em;}
h4{font-size: 4em;}
h5{font-size: 3em;}
h6{font-size: 2em;}

ul{
  list-style: none;
}

.user-form{
  @include span-columns(8);
  @include shift(2);
}

header{
  box-sizing: border-box;
  color: dodgerblue;
  @include fill-parent;
}

.subheader{
  .party{
    @include span-columns(2);
  }
  .table{
    @include span-columns(2);
  }
}

.back{
  text-align: right;
}

.error{
  color: orangered;
}

.remove {
  margin-left: 1em;
  color:orangered;
}

select{
  border: 1px solid $default-color;
  font-size: 1.5em;
}


tr th:last-child{
  text-align: right;
}

tr td:last-child{
  text-align: right;
}
