// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dishes{
  text-align: center;
  @include span-columns(8);
  @include shift(2);

  h6{
    margin-top: 1em;
  }

  form{
    margin-top: 1em;
  }

}
