// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dishes{
  text-align: center;
  @include span-columns(8);
  @include shift(2);
  @include media($mobile){
    width: 100%;
    text-align: left;
    @include shift(0);
  }

  h6{
    margin-top: 1em;
    @include media($mobile){
      text-align: left;
    }
  }

  form{
    margin-top: 1em;
  }

  input{
    @include media($mobile){
      width: 100%;
    }
  }

  .remove{
    @include media($mobile){
      text-align: right;
      float: right;
    }
  }


}

#recipe_ingredient_id{
  margin: .5em auto;
}
