// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ingredients{
  @include span-columns(4);
  @include shift(4);
  div:first-child{
    text-align: center;
  }
  tr th:last-child{
    text-align: right;
  }
  tr td:last-child{
    text-align: right;
  }
}
