// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$default-color: #477dca;

.third{
  @include span-columns(4);
}

.dropdown{
  @include span-columns(6);
  @include shift(2);
  select{
    width: 100%;
  }
  @include media($mobile){
    @include span-columns(4);
    @include shift(0);
    display: inline-block;
    margin: 0;
  }
}

.seat-selection{
  @include span-columns(1);
  @include media($mobile){
    @include span-columns(4);
    display: inline-block;
    margin: 0;
  }
}

.add-button{
  bottom: 0;
  @include span-columns(1);
  input{
    margin-top: 2em;
    width: 100%;
  }
  @include media($mobile){
    @include span-columns(4);
  }
}

.note{
  @include span-columns(6);
  @include shift(2);
  input{
    border: 1px solid $default-color;
  }
  @include media($mobile){
    @include span-columns(4);
    @include shift(0);
  }
}
