// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome{
  text-align: center;

}


.welcome h1{

}

.welcome div a:last-child {
  margin-left: 100px;
  @include media($mobile){
    margin-left: 0px;
  }

}

.welcome div a{
  @include media($mobile){
    display: block;
    text-align: center;
    font-size: 1.5em;
  }

}
